extends layout

block header
  include header.jade

block content
  div(class="bg-gray-300 min-h-full w-full p-4")
    h1(class="font-semibold") THE LIST OF EMAILS
    ul(class="flex flex-col space-y-2 md:p-2 p-8")
      each file in files
        li(class='py-4 px-8 mx-4 lg:mx-32 bg-white shadow-lg rounded-lg flex justify-between')
          a(href='/emails/' + file.filename, target="_blank", rel="noopener noreferrer")
            div Email UUID: #{file.filename}
            if file.stat
              div Created Date: #{file.stat.ctime}
          button(class='rounded-lg bg-red-400 hover:bg-red-700 px-4' id=file.filename style='color: #ffffff;' onclick='handleDelete(this)') DELETE
