extends layout

block content
  h1 List of emails
  ul
    each file in files
      li(style='padding: 10px; margin: 5px; font-size: 18px; background-color: #f0f0f0; display: flex; justify-content: space-between;')
        a(href='/emails/' + file.filename, target="_blank", rel="noopener noreferrer")
          div Email UUID: #{file.filename}
          if file.stat
            div Created Date: #{file.stat.ctime}
        button(class='delete-email-btn' id=file.filename style='background-color: #ee5c5c; color: #ffffff;' onclick='handleDelete(this)') DELETE
