block header 
  div(class="border-b-2 h-12 flex justify-between items-center")
    div 
      a(href='/', class="text-base font-medium") 
        | Sagely Home
    div
      a(href="/logout" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700")
        | Sign out