block home
  div(class="bg-gray-300 min-h-full w-full p-4")
    div(class="py-4 px-8 mx-4 lg:mx-20 bg-white shadow-lg rounded-lg")
      div
        h2(class="text-gray-800 text-3xl font-semibold") Simple Email Service
        p(class="mt-2 text-gray-700") #ses-mock repository
        p(class="mt-2 text-gray-600") To read all emails are sent from SES AWS (e.g: Invite mail, Welcome mail, Event mail, ...).
      div(class="flex justify-end mt-4")
        a(href="/emails", class="text-xl font-medium text-indigo-500") CLICK HERE
    div(class="py-4 px-8 mx-4 lg:mx-20 bg-white shadow-lg rounded-lg mt-4")
      div
        h2(class="text-gray-800 text-3xl font-semibold") Communications CLI
        p(class="mt-2 text-gray-700") #sagely-communication repository.
        p(class="mt-2 text-gray-600") Run every "grunt" command line to invoke lambda function from this site.
      div(class="flex justify-end mt-4")
        a(href="/communications", class="text-xl font-medium text-indigo-500") CLICK HERE