extends layout

block content
  h1= title
  p Welcome to #{title}
  p You can find all emails for all users in Sagely ecosystem&nbsp;
    span
      a(href="/emails") here.
  br
  hr
  h1 Sagely Microservices GUI 
  p Send all emails in the <strong>outgoing</strong> folder to residents/family users.&nbsp;
    a(href="/scheduledMessage", target="_blank", rel="noopener noreferrer") Click here.
