doctype html
html
  head
    title SES Mock Sagely
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/index.js") 
  body(style='height: 100vh')
    block header
    block content